---
name: CI

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: ["main"]
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - "src/*"
      - "ui/*"
      - "packages/*"
  pull_request:
    branches: ["main"]
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - "src/*"
      - "ui/*"
      - "packages/*"
      - ".github/workflows/ci.yaml"
      - "README.md"
  merge_group:
    branches: ["main"]

jobs:
  extract-version:
    uses: heathcliff26/ci/.github/workflows/cargo-version.yaml@main
    permissions:
      contents: read

  doc:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    permissions:
      contents: read
    with:
      cmd: "make doc"
      additional-packages: "libwayland-dev"

  lint:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    permissions:
      contents: read
    with:
      cmd: "make lint"
      additional-packages: "libwayland-dev"

  test:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    permissions:
      contents: read
    with:
      cmd: "sudo chmod 666 /dev/uinput && make test"
      additional-packages: "libwayland-dev"

  validate:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    permissions:
      contents: read
    with:
      cmd: "make validate"

  build-binary:
    uses: heathcliff26/ci/.github/workflows/run-script.yaml@main
    needs:
      - doc
      - lint
      - test
      - validate
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
          - arch: arm64
    with:
      cmd: "make release"
      artifact: "dist/turbo-clicker_linux-${{ matrix.arch }}.tar.gz"
      artifact-name: "turbo-clicker-${{ matrix.arch }}"
      architecture: "${{ matrix.arch }}"
      additional-packages: "libwayland-dev"
